---
import post1 from "~/assets/image-post1.jpg";
import post2 from "~/assets/image-post2.jpg";
import post3 from "~/assets/image-post4.jpg";
---

<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 text-white"
>
  <div class="mb-6">
    <div class="flex items-baseline justify-between">
      <h2 class="text-3xl capitalize sm:text-4xl">recent posts</h2>
      <div class="text-sm">
        <a href="/demo/astro-boilerplate/posts">View all Posts →</a>
      </div>
    </div>
  </div>

  <!-- <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    <a class="hover:translate-y-1" href="#">
      <div class="overflow-hidden rounded-md bg-brand/10">
        <div class="aspect-w-3 aspect-h-2">
          <img
            class="h-full w-full object-cover object-center"
            src={post2}
            alt="Image post"
            loading="lazy"
          />
        </div><div class="px-3 pt-4 pb-8 text-center">
          <h2 class="text-lg">Typography example</h2><div
            class="mt-1 text-xs text-gray-400"
          >
            Feb 6, 2020
          </div><div class="mt-2">
            Lorem ipsum amet consectetur adipisicing elit. Tenetur vero esse non
            molestias eos excepturi.
          </div>
        </div>
      </div>
    </a>
    <a class="hover:translate-y-1" href="#">
      <div class="overflow-hidden rounded-md bg-brand/10">
        <div class="aspect-w-3 aspect-h-2">
          <img
            class="h-full w-full object-cover object-center"
            src={post4}
            alt="Image post 2"
            loading="lazy"
          />
        </div>
        <div class="px-3 pt-4 pb-8 text-center">
          <h2 class="text-lg">5th Lorem ipsum</h2><div
            class="mt-1 text-xs text-gray-400"
          >
            Feb 5, 2020
          </div><div class="mt-2">
            Lorem ipsum amet consectetur adipisicing elit. Tenetur vero esse non
            molestias eos excepturi.
          </div>
        </div>
      </div>
    </a>
    <a class="hover:translate-y-1" href="#">
      <div class="overflow-hidden rounded-md bg-brand/10">
        <div class="aspect-w-3 aspect-h-2">
          <img
            class="h-full w-full object-cover object-center"
            src={post5}
            alt="Image post 3"
            loading="lazy"
          />
        </div>
        <div class="px-3 pt-4 pb-8 text-center">
          <h2 class="text-lg">4th Lorem ipsum</h2><div
            class="mt-1 text-xs text-gray-400"
          >
            Feb 4, 2020
          </div>
          <div class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            vero esse non molestias eos excepturi.
          </div>
        </div>
      </div>
    </a>
  </div> -->
  <ol
    role="list"
    class="-mx-3 mt-10 grid grid-cols-1 gap-y-10 lg:grid-cols-3 lg:text-center xl:-mx-12 xl:divide-x xl:divide-white/10"
  >
    <li
      class="grid group hover:bg-brand/5 auto-rows-min grid-cols-1 transition-all duration-500 items-center gap-8 px-3 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-1 xl:px-12"
    >
      <a class="py-8" href="#">
        <div
          class="relative h-48 overflow-hidden rounded-xl group-hover:shadow-sm group-hover:transition-all group-hover:duration-500 transition-all duration-500 shadow-brand/10 shadow-lg sm:h-60 lg:h-40"
        >
          <div class="absolute inset-0 flex items-center justify-center">
            <img
              alt=""
              sizes="(min-width: 1280px) 21rem, (min-width: 1024px) 33vw, (min-width: 768px) 19rem, (min-width: 640px) 50vw, 100vw"
              src={post1}
              width="4096"
              height="4096"
              decoding="async"
              data-nimg="future"
              class="absolute inset-0 h-full w-full object-cover"
              loading="lazy"
            />
          </div>
        </div>
        <div class="pt-10">
          <h3 class="text-base text-white font-medium tracking-tight">
            Weekly icon teardowns
          </h3><p class="mt-2 text-slate-400 text-sm">
            Weekly videos where we dissect and recreate beautiful icons we find
            on the web.
          </p>
        </div>
      </a>
    </li>
    <li
      class="grid group hover:bg-brand/5 auto-rows-min grid-cols-1 transition-all duration-500 items-center gap-8 px-3 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-1 xl:px-12"
    >
      <a class="py-8" href="#">
        <div
          class="relative h-48 overflow-hidden rounded-xl group-hover:shadow-sm group-hover:transition-all group-hover:duration-500 transition-all duration-500 shadow-brand/10 shadow-lg sm:h-60 lg:h-40"
        >
          <div class="absolute inset-0 flex items-center justify-center">
            <img
              alt=""
              sizes="(min-width: 1280px) 21rem, (min-width: 1024px) 33vw, (min-width: 768px) 19rem, (min-width: 640px) 50vw, 100vw"
              src={post2}
              width="4096"
              height="4096"
              decoding="async"
              data-nimg="future"
              class="absolute inset-0 h-full w-full object-cover"
              loading="lazy"
            />
          </div>
        </div>
        <div class="pt-10">
          <h3 class="text-base text-white font-medium tracking-tight">
            Weekly icon teardowns
          </h3><p class="mt-2 text-slate-400 text-sm">
            Weekly videos where we dissect and recreate beautiful icons we find
            on the web.
          </p>
        </div>
      </a>
    </li>
    <li
      class="grid group hover:bg-brand/5 auto-rows-min grid-cols-1 transition-all duration-500 items-center gap-8 px-3 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-1 xl:px-12"
    >
      <a class="py-8" href="#">
        <div
          class="relative h-48 overflow-hidden rounded-xl group-hover:shadow-sm group-hover:transition-all group-hover:duration-500 transition-all duration-500 shadow-brand/10 shadow-lg sm:h-60 lg:h-40"
        >
          <div class="absolute inset-0 flex items-center justify-center">
            <img
              alt=""
              sizes="(min-width: 1280px) 21rem, (min-width: 1024px) 33vw, (min-width: 768px) 19rem, (min-width: 640px) 50vw, 100vw"
              src={post3}
              width="4096"
              height="4096"
              decoding="async"
              data-nimg="future"
              class="absolute inset-0 h-full w-full object-cover"
              loading="lazy"
            />
          </div>
        </div>
        <div class="pt-10">
          <h3 class="text-base text-white font-medium tracking-tight">
            Weekly icon teardowns
          </h3><p class="mt-2 text-slate-400 text-sm">
            Weekly videos where we dissect and recreate beautiful icons we find
            on the web.
          </p>
        </div>
      </a>
    </li>
  </ol>
</div>
