---
import Icon from "astro-icon";
import bl from "~/assets/blimmobilien.png";
import Button from "./Button.astro";

const projectDetails = [
  {
    heading: "Listing new Immobilien properties… FAST",
    description:
      " Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.",
    imgSrc: bl,
    webLink: "https://blimmobilien.netlify.app/",
    brandColor: "text-[#D5A44E]",
    responsability: [
      {
        title: "project",
        body: ["Immobilien Website"],
      },
      //   {
      //     title: "performance",
      //     body: ["Responsive", "100% Score"],
      //   },
      {
        title: "scope",
        body: ["UX/UI Design", "Development"],
      },
      {
        title: "technologies",
        body: ["Astro", "Tailwind CSS", "Netlify"],
      },
    ],
  },
];
---

<section>
  <div
    class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
  >
    {
      projectDetails.map(
        ({
          imgSrc,
          responsability,
          heading,
          description,
          webLink,
          brandColor,
        }) => (
          <div class="py-16 mx-auto border-t border-white/10 max-w-screen-lg lg:py-20">
            <div class="mb-10 md:mx-auto sm:text-center md:mb-12">
              <img
                class="object-cover object-top w-full h-[564px] col-span-2 rounded shadow-lg"
                src={imgSrc}
                alt=""
              />
            </div>
            <div
              class={`grid max-w-screen-lg gap-8 lg:grid-cols-3 items-start sm:mx-auto ${brandColor}`}
            >
              <div>
                {responsability.map(({ title, body }) => (
                  <div class="space-y-8">
                    <div class="flex border-t mb-5 border-white/10 flex-col justify-center">
                      <h6 class="mb-2   pt-3 text-base  capitalize">{title}</h6>

                      {body.map((p) => (
                        <p>{p} </p>
                      ))}
                    </div>
                  </div>
                ))}
              </div>
              <div class="flex flex-col justify-between h-full order-first lg:order-last col-span-2">
                <div>
                  <h2 class="mb-6  max-w-sm lg:max-w-xl font-sans text-2xl tracking-tight sm:text-3xl">
                    {heading}
                  </h2>
                  <p class="text-base md:text-lg">{description}</p>
                </div>
                <div class="mt-6">
                  <a
                    target="_blank"
                    href={webLink}
                    class="inline-flex items-center font-semibold tracking-wider px-8 py-4 text-xs  duration-700 transition-colors border-2 rounded-sm text-white border-white hover:bg-white/10 uppercase "
                  >
                    <span class="tracking-wide">see demo</span>
                    <Icon name="mdi:menu-right" class="w-5 h-5" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        )
      )
    }
  </div>
</section>
