---
import Icon from "astro-icon";
import bl from "~/assets/blimmobilien.png";
import nentori from "~/assets/28nentori.png";
import drFida from "~/assets/dr-fida.png";

const projectDetails = [
  {
    heading: "Listing new Immobilien properties… FAST",
    description:
      " Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.",
    imgSrc: bl,
    webLink: "https://blimmobilien.netlify.app/",
    brandColor: "text-[#D5A44E]",
    responsability: [
      {
        title: "project",
        body: ["Immobilien Website"],
      },
      //   {
      //     title: "performance",
      //     body: ["Responsive", "100% Score"],
      //   },
      {
        title: "scope",
        body: ["UX/UI Design", "Development"],
      },
      // {
      //   title: "technologies",
      //   body: ["Astro", "Tailwind CSS", "Netlify"],
      // },
    ],
  },
  {
    heading: "Listing new Immobilien properties… FAST",
    description:
      " Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.",
    imgSrc: nentori,
    webLink: "https://28nentori.netlify.app/",
    brandColor: "text-brand",
    responsability: [
      {
        title: "project",
        body: ["High School Website"],
      },
      //   {
      //     title: "performance",
      //     body: ["Responsive", "100% Score"],
      //   },
      {
        title: "scope",
        body: ["UX/UI Design", "Development"],
      },
      // {
      //   title: "technologies",
      //   body: ["Gatsby", "React i18next", "Tailwind CSS", "Netlify"],
      // },
    ],
  },
  {
    heading: "Listing new Immobilien properties… FAST",
    description:
      " Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.",
    imgSrc: drFida,
    webLink: "https://dr-fida.netlify.app/",
    brandColor: "text-[#F25C84]",
    responsability: [
      {
        title: "project",
        body: ["Medical Office Website"],
      },
      //   {
      //     title: "performance",
      //     body: ["Responsive", "100% Score"],
      //   },
      {
        title: "scope",
        body: ["UX/UI Design", "Development"],
      },
      // {
      //   title: "technologies",
      //   body: ["HTML", "Tailwind CSS", "Netlify"],
      // },
    ],
  },
];
---

<section>
  <div
    class="mx-auto px-4 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8"
  >
    {
      projectDetails.map(
        ({
          imgSrc,
          responsability,
          heading,
          description,
          webLink,
          brandColor,
        }) => (
          <div class="mx-auto max-w-screen-lg border-t border-white/10 py-16 lg:py-20">
            <div class="mb-10 sm:text-center md:mx-auto md:mb-12">
              <img
                class="col-span-2 h-96 w-full rounded object-cover object-top shadow-lg lg:h-[564px]"
                src={imgSrc}
                alt=""
              />
            </div>
            <div
              class={`grid max-w-screen-lg items-start gap-8 sm:mx-auto lg:grid-cols-3 ${brandColor}`}
            >
              <div class=" col-span-2 grid grid-cols-3 gap-4 gap-y-0 lg:col-span-1 lg:grid-cols-1 lg:pr-16">
                {responsability.map(({ title, body }) => (
                  <div class="  space-y-8">
                    <div class="mb-5 flex flex-col justify-center border-t border-white/10">
                      <h6 class="mb-2   pt-3 text-base  capitalize">{title}</h6>

                      {body.map((p) => (
                        <p>{p} </p>
                      ))}
                    </div>
                  </div>
                ))}
              </div>
              <div class="col-span-2 flex h-full flex-col  justify-between">
                <div>
                  <h2 class="mb-6  max-w-sm font-sans text-2xl tracking-tight sm:text-3xl lg:max-w-xl">
                    {heading}
                  </h2>
                  <p class="text-base md:text-lg">{description}</p>
                </div>
                <div class="mt-6">
                  <a
                    target="_blank"
                    href={webLink}
                    class="inline-flex items-center rounded-sm border-2 border-white px-8 py-4  text-xs font-semibold uppercase tracking-wider text-white transition-colors duration-700 hover:bg-white/10 "
                  >
                    <span class="tracking-wide">see demo</span>
                    <Icon name="mdi:menu-right" class="h-5 w-5" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        )
      )
    }
  </div>
</section>
