---
// component imports
import Layout from "~/layouts/Layout.astro";
import Header from "~/components/nav/Header.astro";
import Footer from "~/components/nav/Footer.astro";
import SectionHeader from "~/components/SectionHeader.astro";
import { Image } from "@astrojs/image/components";

// utils imports
import { formatDate, slugify } from "~/js/utils";

import avatar from "~/assets/admirg-80.png";

const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<Layout {description} {title}>
  <Header />
  <SectionHeader>
    <p class="text-sm font-medium text-slate-400">
      <a href={`/category/${slugify(category)}/`} class="hover:underline"
        >{category}</a
      >
    </p>
    <div class="flex space-x-1 text-sm leading-6 text-slate-500">
      <time datetime={date}>{formatDate(date)}</time>
      <!-- <span aria-hidden="true">·</span>
      <span>4 min read</span> -->
    </div>
    <h1
      class="mt-6 text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl"
    >
      {title}
    </h1>
    <div class="mt-5 flex items-center">
      <div class="flex-shrink-0">
        <a href="#">
          <span class="sr-only">{author}</span>
          <Image
            class="h-10 w-10 rounded-full"
            src={avatar}
            alt="Author avatar"
          />
        </a>
      </div>
      <div class="ml-3">
        <p class="text-sm font-medium text-slate-200">
          <a href={`/author/${slugify(author)}/`} class="hover:underline"
            >{author}</a
          >
        </p>

        <a
          href="https://twitter.com/adamwathan"
          class="text-brand hover:text-brand/80 dark:text-brand"
          >@admirgorenca</a
        >
      </div>
    </div>

    <div
      class="prose mt-12 prose-headings:text-slate-200 prose-p:text-slate-400 prose-a:text-white prose-code:text-slate-200 prose-ol:text-slate-400"
    >
      <slot />
    </div>
  </SectionHeader>

  <Footer />
</Layout>
